{% extends 'layouts/base.html.twig' %}

{% block title %}{% trans from 'dashboard' %}persons.title{% endtrans %}{% endblock %}

{% block searchbar %}
    {% include 'components/forms/persons/search.html.twig' %}
{% endblock %}


{% block content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{% trans from 'dashboard' %}persons.title{% endtrans %}</h1>

        <a href="{{ path('persons_add') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-plus-circle fa-sm "></i> {% trans from 'dashboard' %}persons.add{% endtrans %}</a>

        <a href="{{ path('persons_attach_show') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-plus-circle fa-sm "></i> {% trans from 'dashboard' %}persons.attach{% endtrans %}</a>

    </div>
    <div class="col-md-12 col-lg-12 col-xl-12">
        {% include 'components/messages.html.twig' %}
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{% trans from 'dashboard' %}persons.list{% endtrans %}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{% trans from 'dashboard' %}persons.field.name{% endtrans %}</th>
                        <th>{% trans from 'dashboard' %}persons.field.label{% endtrans %}</th>
                        <th>{% trans from 'dashboard' %}person_label.field.salutation{% endtrans %}</th>
                        <th>{% trans from 'global' %}global.activities{% endtrans %}</th>
                    </tr>
                    </thead>

                    <tfoot>
                    {% for person in persons %}

                        <tr>
                            <td>{{  person.firstName ~ ' ' ~ person.lastName }}</td>
                            <td>label</td>
                            <td>{{ person.salutation }}</td>

                            <td>
                                <a href="{{ path('persons_details', {'id': person.id}) }}">
                                    <button type="submit" class="btn btn-small btn-warning" name="details">
                                        <i class="fa fa-fw fa-info"></i>
                                    </button>
                                </a>

                                <a href="{{ path('persons_show', {'id': person.id}) }}">
                                    <button type="button" class="btn btn-small btn-info" name="edit">
                                        <i class="fa fa-fw fa-edit"></i>
                                    </button>
                                </a>
                                <a data-toggle="modal" data-target="#deleteModal_{{ person.id }}" href="#">
                                    <button type="button" class="btn btn-small btn-danger" name="delete">
                                        <i class="fa fa-fw fa-user-times"></i>
                                    </button>
                                </a>
                                {% include 'components/modals/persons/delete.html.twig' with {'id': person.id} %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">{% trans from 'dashboard' %}persons.records.blank{% endtrans %}</td>
                        </tr>
                    {% endfor %}
                    </tfoot>
                </table>

            </div>
        </div>
    </div>


{% endblock %}