<h3>{% trans from 'dashboard' %}contact_detail.field.title{% endtrans %}</h3>

<div class="row justify-content-md-center mt-5">
    <div class="col-12">
        <div class="form-group">
            <label for="telephone_number">{% trans from 'dashboard' %}contact_detail.field.telephone_number{% endtrans %}</label>
            <input type="text" class="form-control" placeholder="{{ contact_detail.telephoneNumber }}" name="telephone_number" value="{{ contact_detail.telephoneNumber }}" autocapitalize="words" required>
        </div>
    </div>
</div>

<div class="row justify-content-md-center mt-5">
    <div class="col-12">
        <div class="form-group">
            <label for="fax">{% trans from 'dashboard' %}contact_detail.field.fax{% endtrans %}</label>
            <input type="text" class="form-control" placeholder="{{ contact_detail.fax }}" name="fax"  value="{{ contact_detail.fax }}" autocapitalize="words" required>
        </div>
    </div>
</div>

<div class="row justify-content-md-center mt-5">
    <div class="col-12">
        <div class="form-group">
            <label for="internet_site">{% trans from 'dashboard' %}organizations.contact_detail.field.internet_site{% endtrans %}</label>
            <input type="text" class="form-control" placeholder="{{ contact_detail.internetSite }}" name="internet_site" value="{{ contact_detail.internetSite }}">
        </div>
    </div>
</div>

<div class="row justify-content-md-center mt-5">
    <div class="col-12">
        <div class="form-group">
            <label for="email">{% trans from 'dashboard' %}contact_detail.field.email{% endtrans %}</label>
            <input type="text" class="form-control" placeholder="{{ contact_detail.email }}" name="email" value="{{ contact_detail.email }}">
        </div>
    </div>
</div>