<form action="{{ path('persons_edit', {id: person.id}) }}" method="post" enctype="multipart/form-data">

    {#    {{ csrf_field() }}#}


    <!-- First Name -->
    <div class="row justify-content-md-center mt-5">
        <div class="col-12">
            <div class="form-group">
                <label for="first_name">{% trans from 'dashboard' %}persons.field.first_name{% endtrans %}</label>
                <input type="text" class="form-control" placeholder="{{ person.firstName }}" name="first_name" value="{{ person.firstName }}" autocapitalize="words" >
            </div>
        </div>
    </div>


    <!-- Last Name -->
    <div class="row justify-content-md-center mt-5">
        <div class="col-12">
            <div class="form-group">
                <label for="last_name">{% trans from 'dashboard' %}persons.field.last_name{% endtrans %}</label>
                <input type="text" class="form-control" placeholder="{{ person.lastName }}" name="last_name" value="{{ person.lastName }}" autocapitalize="words" >
            </div>
        </div>
    </div>

    <!-- Organizations -->
    <div class="form-group">
        <label for="organizations">{% trans from 'dashboard' %}persons.field.organizations{% endtrans %}</label>
        <select class="form-control" name="organizations[]" required multiple>

            <option value="" disabled selected>-- Select an Organizations --</option>
            {% for organization  in organizations %}

                <option>{{ organization.name }}</option>

            {% endfor %}

        </select>
    </div>


    <!-- Salutation -->
    <div class="row justify-content-md-center mt-5">
        <div class="col-12">
            <div class="form-group">
                <label for="salutation">{% trans from 'dashboard' %}person_label.field.salutation{% endtrans %}</label>
                <input type="text" class="form-control" placeholder="" name="salutation" value="" autocapitalize="words" >
            </div>
        </div>
    </div>


    <!-- Address -->
    {% include 'components/forms/addresses/edit.html.twig' with {'address': person.address, 'countries': countries} %}


    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-custom" name="submit">{% trans from 'global' %}global.save{% endtrans %}</button>
            <button type="reset" class="btn btn-secondary btn-custom" onclick="window.location.href = '{{ path('labels_index')}}'">{% trans from 'global' %}global.cancel{% endtrans %}</button>
        </div>
    </div>





</form>