{% extends 'layouts/base.html.twig' %}

{% block title %}{% trans from 'dashboard' %}organization.details{% endtrans %}{% endblock %}

{% block searchbar %}
    {% include 'components/forms/organizations/search.html.twig' %}
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-1 text-center">{{ organization.name }}</h1>

        {#    @include('components.messages')#}

        <div class="card-body">
            <div class="row">
                <div class="table-responsive col-12">
                    <nav class="navbar navbar-expand-lg navbar-light rounded">
                        <h3>{% trans from 'dashboard' %}organizations.info{% endtrans %}</h3>
                    </nav>

                    <table class="table table-hover table-light">
                        <thead>

                        </thead>

                        <tbody>
                        <tr>
                            <th scope="col">{% trans from 'dashboard' %}organizations.field.name{% endtrans %}</th>
                            <td>{{ organization.name }}</td>
                        </tr>
                        <tr>
                            <th scope="col">{% trans from 'dashboard' %}contact_detail.field.telephone_number{% endtrans %}</th>
                            <td>{{ organization.contactDetail.telephoneNumber }}</td>
                        </tr>
                        <tr>
                            <th scope="col">{% trans from 'dashboard' %}contact_detail.field.fax{% endtrans %}</th>
                            <td>{{ organization.contactDetail.fax }}</td>
                        </tr>
                        <tr>
                            <th scope="col">{% trans from 'dashboard' %}contact_detail.field.internet_site{% endtrans %}</th>
                            <td>{{ organization.contactDetail.internetSite }}</td>
                        </tr>
                        <tr>
                            <th scope="col">{% trans from 'dashboard' %}contact_detail.field.email{% endtrans %}</th>
                            <td>{{ organization.contactDetail.email }}</td>
                        </tr>
{#                        <tr>#}
{#                            <th scope="col">{% trans from 'dashboard' %}organizations.contact_detail.field.salutation{% endtrans %}</th>#}
{#                            <td>{{ organization.contactDetail.salutation }}</td>#}
{#                        </tr>#}
                        </tbody>
                    </table>
                </div>
            </div>
            {# TODO: implement loop for dynamical behavior  #}




                    <div class="row">
                        <div class="table-responsive col-12">
                            <nav class="navbar navbar-expand-lg navbar-dark rounded">
                                <h3>{% trans from 'dashboard' %}address.field.title{% endtrans %}</h3>
                            </nav>

                            <table class="table table-hover table-light">
                                <thead>

                                </thead>

                                <tbody>
                                <tr>
                                    <th scope="col">{% trans from 'dashboard' %}address.field.street{% endtrans %}</th>
                                    <th scope="col">{{ organization.address.street }}</th>
                                </tr>
                                <tr>
                                    <th scope="col">{% trans from 'dashboard' %}address.field.house_number{% endtrans %}</th>
                                    <td>{{ organization.address.houseNumber }}</td>
                                </tr>
                                <tr>
                                    <th scope="col">{% trans from 'dashboard' %}address.field.postal_code{% endtrans %}</th>

                                    <td>{{ organization.address.postalCode }}</td>
                                </tr>
                                <tr>
                                    <th scope="col">{% trans from 'dashboard' %}address.field.city{% endtrans %}</th>
                                    <td>{{ organization.address.city }}</td>
                                </tr>
                                <tr>
                                    <th scope="col">{% trans from 'dashboard' %}address.field.region{% endtrans %}</th>

                                    <td>{{ organization.address.region }}</td>
                                </tr>
                                <tr>
                                    <th scope="col">{% trans from 'dashboard' %}address.field.country{% endtrans %}</th>

                                    <td>{{ organization.address.country}}</td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                    {# TODO: implement loop for dynamical behavior  #}


            <div class="row">
                <div class="table-responsive col-12">
                    <nav class="navbar navbar-expand-lg navbar-light rounded">
                        <h3>{% trans from 'dashboard' %}persons.title{% endtrans %}</h3>
                    </nav>

                    <table class="table table-hover table-light">
                        <thead>

                        </thead>

                        <tbody>


                            <tr>
                                <th scope="col">{% trans from 'dashboard' %}organizations.field.name{% endtrans %}</th>
                                {% for key, value in  organization.person %}
                                <td>
                                    <a style="color:inherit;" href="">
                                        {{ value.firstName ~ ' ' ~ value.lastName }}

                                    </a>
                                </td>
                                <td>

                                    <a href="{{ path('persons_details', {'id': value.id}) }}">
                                        <button type="submit" class="btn btn-small btn-warning" name="details">
                                            <i class="fa fa-fw fa-info"></i>
                                        </button>
                                    </a>
                                </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="row">
                <div class="table-responsive col-12">
                    <nav class="navbar navbar-expand-lg navbar-light rounded">
                        <h3>{% trans from 'dashboard' %}organization_types.title{% endtrans %}</h3>

                    </nav>



                    {% for organizationOrganizationType in organization.organizationOrganizationType  %}
                        <table class="table table-hover table-light">
                            <thead>

                            </thead>

                            <tbody>

                            <tr>
                                <th scope="col">{% trans from 'dashboard' %}organization_types.field.name{% endtrans %}</th>

                                <td>
                                    <a style="color:inherit;" href="">
                                        {{ organizationOrganizationType.organizationType.name }}
                                    </a>
                                </td>

                                <td>

                                    <a href="{{ path('organization_types_details', {'id': organizationOrganizationType.organizationType.id }) }}">
                                        <button type="submit" class="btn btn-small btn-warning" name="details">
                                            <i class="fa fa-fw fa-info"></i>
                                        </button>
                                    </a>
                                </td>

                            </tr>


                            </tbody>
                        </table>

                    {% endfor %}

                </div>
            </div>


            <button type="reset" class="btn btn-success" onclick="window.location.href = '{{ path('organizations_index')}}'">
                <i class="fa fa-fw fa-chevron-left"></i>
            </button>
        </div>
    </div>
{% endblock %}
