
<div class="modal fade" id="deleteModal_{{ personLabel.person.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Detach Label</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">test1  <br /><br />test2 <br /><br /> test3</div>
            <div class="modal-footer">
                <form id="deleteForm" action="{{ path('persons_detach_label') }}" method="post">
{#                    {{ csrf_field() }}#}

                    <input name="person_id" type="hidden" value="{{ personLabel.person.id }}">
                    <input name="label_id" type="hidden" value="{{ personLabel.label.id }}">

                    <button id="deleteSubmit" type="submit" class="btn btn-danger">{% trans from 'global' %}global.confirm{% endtrans %}</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">{% trans from 'global' %}global.cancel{% endtrans %}</button>
                </form>
            </div>
        </div>
    </div>
</div>